names = /Users/krieger/Desktop/Java/HFC/hfc/resources/default.ns

tuples = /Users/krieger/Desktop/Java/HFC/hfc/resources/default.nt
tuples = /Users/krieger/Desktop/Java/HFC/hfc/resources/ltworld.nt

rules = /Users/krieger/Desktop/Java/HFC/hfc/resources/default.rdl
rules = /Users/krieger/Desktop/Java/HFC/hfc/resources/idefault.rdl
