#
# test configuration for CogX
#
# initial ABox usually consists of initial/axiomatic tuples specified in the
# file attached to the 'tuples' property 
#

noofcores   = 2
verbose     = true
rdfcheck    = true
minnoofargs = 3
maxnoofargs = 3
noofatoms   = 1000
nooftuples  = 5000

names  = /Users/krieger/Desktop/Java/HFC/hfc/resources/default.ns

tuples = /Users/krieger/Desktop/Java/HFC/hfc/resources/default.nt

rules  = /Users/krieger/Desktop/Java/HFC/hfc/resources/default.rdl
